body
{
  background-image: url("https://i.pinimg.com/originals/12/1e/74/121e74ecf840e9c6e960e7234f45d0af.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;  
   
}

#contact input[type=text], #contact input[type=email], #contact input[type=tel], #contact input[type=url], #contact textarea, #contact button[type=submit] {
  font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
  border-radius: .25em; 
}

#contact {
  background-image: linear-gradient(to right, #101929 0%, #6495ED 100%);
  padding: 25px;
  margin: 50px 0;

}

#contact h3 {
  color: rgb(255, 255, 255);
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: lighter;
  color: white;
}
/* .footer-margin{
  position: relative;
  bottom: 93px;
} */


fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
   
}

#contact input[type=text], #contact input[type=email], #contact input[type=tel], #contact input[type=url], #contact textarea {
  width: 100%;
  border: 1px solid #CCC;
  background: #DCDCDC;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type=text]:hover, #contact input[type=email]:hover, #contact input[type=tel]:hover, #contact input[type=url]:hover, #contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #AAA;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type=submit] {
  cursor: pointer;
  width: 100%;
  border: none;
  background-image: linear-gradient( to right, #101929 0%, #385488 100%);
  color: rgb(255, 255, 255);
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type=submit]:hover {
  background: rgb(255, 255, 255); 
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type=submit]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus, #contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}